main {
    margin: 35px 60px;

    .galerie {
        background: #F6F6F6;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 11px;
        border-radius: 25px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
        justify-items: stretch;

    }
}

@media screen and (max-width: 768px) {

    main {
        margin: 5vw 4vw;

        .galerie {
            display: block;
            margin: 6vw 0;
            padding: 0;
            background: unset;
        }

    }
}